* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --margin: 0 auto;
    --width: 100%;
}

.div {
    width: 100%;

}

.div1 {
    width: 95%;
    margin: var(--margin);
}



header {
    width: var(--width);
    height: 600px;
}


nav {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
}



.nav_logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_ul {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_li {
    list-style: none;
    color: #727272;
}


.nav_bu {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}


.button {
    width: 180px;
    height: 50px;
    background-color: #447C2A;
    border-radius: 50px;
    border: 1px solid #447C2A;
    color: #fff;
}


.button:hover {
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #447C2A;
    box-shadow: 0px 8px 12px 0px rgba(42, 124, 48, 0.34);
}





.header_img {
    width: 100%;
    height: 87%;
    background-image: url(./img/Слой\ 2\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50px;
    padding-top: 10%;
    color: #fff;

}




.header_img-p {
    margin-left: 150px;
}


.header_img-p h1 {
    width: 550px;
    font-size: 35px;
    font-weight: 800;
}

.header_img-p h2 {
    width: 400px;
    font-size: 25px;
    font-weight: 400;
    color: #F7F8F2;
}




.header_img-ul {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}


.header_img-li {
    color: #3DB846;
    font-size: 30px;
}


.header_img-li h3 {
    color: #EBEEE6;
    font-size: 18px;
    font-weight: 400;

}






.mi {
    width: 100%;
    height: 500px;
    display: flex;
}

.mi_p {
    width: 380px;
    margin: 80px auto 0;

}

.mi_p h1 {
    color: #323638;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}


.mi_p h4 {
    color: #747474;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}



.mi_img {
    width: 51%;
    height: 100%;
    display: flex;
    align-items: center;
}




.vsem {
    width: 80%;
    margin: var(--margin);
    position: relative;
}

.vsem h1 {
    text-align: center;
    color: #323638;
    font-family: 'Montserrat', sans-serif;
}




.vsem_img {
    width: 40%;
    display: flex;
    margin-top: 50px;
    position: relative;
}

.vsem_img-1 {
    margin-top: 20px;
}

.vsem_img-2 {
    padding-left: 20px;
}


.vsem_img-1-1 img {
    border-radius: 20px;
}

.vsem_img-1-2 img {
    border-radius: 20px;
}

.vsem_img-2-1 img {
    border-radius: 20px;
}

.vsem_img-2-2 img {
    border-radius: 20px;
}




.vsem_img-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    top: 180px;
    left: 150px;
}

.vsem_img-3 img {
    width: 80px;
}




.vsem-1 {
    display: flex;
}





.vsem-1-p {
    width: 60%;
    margin-top: 50px;
    margin-left: 50px;

}


.vsem-1-p-1-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.vsem-1-p-1-1 p,
h3 {
    display: flex;
    align-items: center;
    width: 250px;
    padding-left: 20px;
}

.vsem-1-p-1-1 p {
    color: #525252;
}


.vsem-1-p-1-1 i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #D1D1D1;
    margin-bottom: 90px;
    color: #3DB846;
}


.img_p{
    position: absolute;
    width: 100px;
    top: 450px;
    left: 1235px;
}





.box-1 {
    display: flex;
    margin-top: 100px;
}

.box-1 h1 {
    width: 60%;
    color: #323638;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}


.box-1 button{
    width: 40%;
    margin: 0 auto;
}



.box-2{
    margin: 70px;
    position: relative;
}


.box-2 img{
    border-radius: 30px;
    margin-left: 20px;
}



.box-2 .i{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: -5px;
    background-color: #fff;
    color: #869EA9;
    border:1px solid #fff;
}

.box-2 .i-1{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 1260px;
    background-color:  #447C2A;
    color: #fff;
    border: 1px solid  #447C2A;
}


.i-1:hover{
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #447C2A;
    box-shadow: 0px 8px 12px 0px rgba(42, 124, 48, 0.34);
}


.box h2 {
    color: #5E4520;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
}



.vidio iframe{
    width: 90%;
    height:500px;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
}




.h1{
    text-align: center;
    color: #323638;
    font-family: 'Montserrat';
    font-size: 35px;
    width: 80%;
    margin: 50px auto 0;
}


.layt{
    display: flex;
}


.layt_p{
    width: 60%;
}

.layt button{
}



.layt-n{
    color: #FFFAF2;
}


.layt-img img{
    border-radius: 20px;
}






















































































































































































































